.navbar-button-text {
    font-size: 32px;
    line-height: 24px;
    font-weight: bold;
    color: #4f5665;
    cursor: pointer;
}

.navbar-button-text-mobile {
    font-size: 24px;
    font-weight: bold;
    color: #4f5665;
    cursor: pointer;
}

.language-button {
    font-size: 32px;
    line-height: 24px;
    font-weight: bold;
    color: #e30613;
    cursor: pointer;
}