@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--red-warning: #E30613;
  --yellow-waiting: #FFB12B;
  --green-succes: #00AD21;
  --primary-background: #FFFFFF;
  --primary-text: #000000;
  --secondary-background: #FAFAFA;
  --secondary-text: #4F5665;
  --primary-border: #E5E7Eb;
  
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
